.container {
  --width: 560px;
  --padding: 1.5rem;

  width: 100%;
  padding: 0 max(var(--padding), calc(50% - var(--width) / 2));
  box-sizing: border-box;
}
.container.extended {
  padding: 0 calc(50% - var(--width) / 2 - var(--padding));
}
