:root {
  --font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Oxygen-Sans, Ubuntu, Cantarell, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --line-height: 1.6;
  --letter-spacing: 0;
  --word-spacing: 0;
}

html {
  font: normal normal normal normal 1rem / var(--line-height) var(--font-family);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
}

p {
  margin: 1rem 0;
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.25;
  margin: 1rem 0;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
